@import './config';



.logo {
    @include animation;
    background-color: $Primary-color;
    text-align: center;
    font-size: 2rem
}


footer{
    background-color: $Primary-color;
    @include animation;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 1rem;
    .image{
        width: 2.5rem;
        margin-left: 1rem;
        border-radius: 50%;
    }
}

.container {
    @include animation;
    background-color: $Primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 14vh;
        width: 40rem;
        margin-top: 1.5rem;
        padding: 1rem;


        .boatContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16rem;

            .boatDisplay {
                border: 3px groove black;
                background-color: $Boat-color;
                width: 3rem;
                height: 3rem;
            }
        }


        .alignmentBtn {
            background-color: #3f3f46;
            border: 3px groove black;
            font-weight: 500;
            width: 7rem;
            height: 2rem;
            border-radius: 5px;
            cursor: pointer;
        }
    }



    .gameBoard {
        @include animation;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .board {
            @include shadow;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            border: 4px solid black;
            height: 25rem;
            width: 28rem;
            margin-right: 2rem;
            margin-left: 2rem;


            .cell {
                background-color: #0d9488;
                border: 1px solid black;
                text-align: center;
                cursor: pointer;
                margin: 0, 1rem;
            }


            .enemy-cell {
                @extend .cell
            }

            .boats {
                background-color: $Boat-color;
                border: 3px groove black;
            }

            .hover {
                background-color: #065f46;
            }

            .error {
                cursor: not-allowed;
                background-color: rgba(255, 0, 0, 0.564);
            }

            .hit {
                background-color: red;
                border: 3px groove black;

            }

            .attacked {
                background-color: #0c4a6e;
            }
        }
    }


    .game {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .gameBoard;
        .gameOverDiv{
            @include show;
            background-color: #0891b2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 60%;
            height: 30vh;
            z-index: 1;
            bottom: 2%;
            border-radius: 30px;
            @include shadow;
            .winnerDiv{
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }


            .resetBtn{
                font-weight: 700;
                outline: none;
                border: 2px groove black;
                width: 6rem;
                height: 2rem;
                border-radius: 12px;
                cursor: pointer;
                &:hover{
                    width: 6.1rem;
                    height: 2.1rem;
                }
            }

        }
    }
}