body{
    background-color: aliceblue;
}
.hoverClass:hover{
    background-color: pink;
}


.background{
    background-color: red;
}

.error{
    background-color: green;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boatContainer{
    display: flex;
    align-items: center;
    .boatDisplay{
        border: 2px solid black;
        width: 50px;
        height: 50px;
    }
}

.board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    border: 1px solid black;
    .cell{
        border: 1px solid red;
        text-align: center;
        cursor: pointer;
    }
}